/* .wrapper {
  min-height: 60vh;
} */

.container {
  background: url("/images/defikids-wallpaper.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
